body{
    margin: 0px;
    font-family: 'Roboto';
}

.header{
    background: #1f2937;
    display: flex;
    justify-content: space-around;
}

#header-logo{
    color: #f9faf8;
    font-weight: 800;
    font-size: 24px;
}

.header-link{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 30px;
}

#content{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background: #1f2937;
    height: 400px;
}

#content .left-content p{
    margin-top: -10px;
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button{
    background: #3882f6;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #f9faf8;
    border-radius: 8px;
    width: 120px;
    height: 40px;
}
.signup-button:hover{
    background: #2e6bc9;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #f9faf8;
    border-radius: 8px;
    width: 120px;
    height: 40px;
}

#content .left-content h1{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#content .left-content{
    padding-left: 100px;
    width: 400px;
    display: flex;
    flex-flow: column;
    
}
#content .right-content{
    display: flex;
    align-items: center;
}

#placeholder-image-content{
    width: 480px;
    height: 240px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#random-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

#random-information h1{
    margin-top: -10px;
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

#squares{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.square-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}


.square-item p{
    width: 100px;
}

#quote-section{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

#quote{
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

#quotee{
    margin-right: -600px;
    font-weight: 800;
    font-size: 20px;
}

#call-to-action{
    padding: 100px;
    display: flex;
    justify-content: center;
}

#inner-blue-div{
    padding: 30px 100px;
    height: auto;
    width: 800px;
    background: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 150px;
}

#inner-blue-div h1{
    color: #f9faf8;
    font-size: 24px;
}

#inner-blue-div p{
    margin-top: -20px;
    color: #e5e7eb;
}

#inner-blue-div input{
    border: 2px solid white;
}

#call-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}